:root {
    --primary-color: #FF3E3E; /* Rojo brillante */
    --secondary-color: #2C3E50; /* Gris oscuro */
    --background-color: #FFFFFF; /* Blanco */
    --text-color: #34495E; /* Gris medio */
    --accent-color: #E74C3C; /* Rojo más oscuro para acentos */
    --button-color: #D9534F; /* Rojo para botones */
}

body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Usar Montserrat para mayor consistencia */
}

.navbar {
    background-color: var(--primary-color);
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important;
}

.container {
   
    width: 95%; /* Ajustado para mantener márgenes */
    margin: 20px auto;
    padding: 40px; /* Aumentado para más espacio interno */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 10px;
}

h2 {
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 20px;
}

form#buscarInquilinoForm, form#cargarExpensasForm {
    margin-top: 20px;
}

form#buscarInquilinoForm .form-control {
    border-radius: 25px 0 0 25px;
}

form#buscarInquilinoForm .btn-primary {
    background-color: var(--button-color);
    border-radius: 0 25px 25px 0;
    border: none;
    padding: 12px 20px;
}

form#buscarInquilinoForm .btn-primary:hover {
    background-color: var(--accent-color);
    border: none;
}

form#cargarExpensasForm .form-control,
form#cargarExpensasForm .form-select {
    margin-bottom: 15px;
}

form#cargarExpensasForm .form-label {
    font-weight: bold;
}

form#cargarExpensasForm .btn-success {
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
}

form#cargarExpensasForm .btn-success:hover {
    background-color: var(--accent-color);
}

#modalSuccess {
    display: none;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2em;
}

.table {
    width: 100%;
    border-radius: 10px;
}

.table thead th {
    background-color: var(--primary-color);
    color: #ffffff;
}

.table th, .table td {
    font-size: 1.1em;
    text-align: center;
}

.table-responsive {
    margin-top: 20px;
}

/* Ajustes responsivos para pantallas más pequeñas */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    h2 {
        font-size: 2em;
    }

    .table th, .table td {
        font-size: 1em; /* Reducido para pantallas más pequeñas */
    }
}
